html, body {
    padding: 0;
    margin: 0;
}

.main-body {
    height: 300vh;
    border: 1px solid red;
}

.footer-body {
    height: 10vh;
    border: 1px solid blue;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: block;
    background-color: white;
}

.footer {
    display: grid;
    grid-template-columns:50% 50%;
    height: 100%;
}

.settings-container, .logout-container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header-content {
    border-bottom: 1px solid black;
    width: 100%;
}
