.dashboard-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid rgb(232, 238, 250);
    font-weight: bold;
    /* border-radius: 10px; */
}

.sos-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid rgb(232, 238, 250);
    border-right: 1px solid rgb(232, 238, 250);
    font-weight: bold;
    /* border-radius: 10px; */
}

.profile-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid rgb(232, 238, 250);
    font-weight: bold;
    /* border-radius: 10px; */
}

.icon-lol {
    width: 100%;
    margin:5px;
}

.text-lol {
    width: 100%;
    font-size: 13px;
}

.footer {
    display: grid;
    grid-template-columns:33.3333% 33.3333% 33.3333%;
    height: 100%;
}

.footer-body {
    height: 10vh;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: block;
    background-color: white;
}